
html, body {
height: 100%;         /* required */
}
body {
text-align: center;   /* horizontal centering hack for IE */
padding: 0;           /* required to "hide" distance div */
margin: 0;            /* required to "hide" distance div */
}
 
div#distance { 
margin-bottom: -10em; /* half of content height */
width: 1px;           /* required to "hide" distance div */
height: 50%;          /* required */
float: left;          /* required */

}
div#content {

position: relative;   /* positions content on top of distance */
text-align: center;     /* horizontal centering hack for IE */
width: 440px;          /* required - desired width */
margin: 0 auto;       /* required */
clear: left;          /* required */
}
 
 
 
td, div {
font-family: sans-serif;
}
 
a, a:visited {
color:black;

}
 
 
div#imageCell {
padding-bottom: 20px;
}

div.linkLabel {
	width: 120px;
	float:left;
	text-align: right;
	padding-top:13px;
}
div.linkActual {
	width: 300px;
	text-align: left;
	float:right;
	padding-top:13px;
}
div.infoRow{

	position:relative;
}


div.secondRow{
	width:400px;

	padding-top:225px;
}
