@tailwind base;
@tailwind components;


p {
    @apply pb-2;
}
h4 {
    @apply font-bold text-lg;
}

a {
    @apply text-dr-blue-a underline;
}

body {
    @apply text-dr-blue-1;
}

a:visited {
    @apply text-dr-blue-1;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

@tailwind utilities;
