---
import Layout from 'layout:PageLayout'
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import BlueSection from '../components/BlueSection.astro';
---

<Layout title="About me">
<P>Currently residing in New York City, and married to my wonderful wife.</P>
<P>I have been programming since I was a child. My mom taught me HTML and my dad taught me C. I have 15 years professional experience as well, now that I'm finally an adult.</P>
<P>I love making stuff, both on the computer and in the kitchen.</P>




</Layout>