---
import Layout from 'layout:PageLayout'

const blogPosts = await Astro.glob('./blog/*.md');

function compareBlogPosts(a, b) {
    const aDate = new Date(a.date);
    const bDate = new Date(b.date);
  if (aDate < bDate) {
    return -1;
  }
  if (aDate > bDate) {
    return 1;
  }

  return 0;
}

const dateOptions: any = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

---

<Layout title="Blog">
    {blogPosts.sort(compareBlogPosts).reverse().map((post) =>

    <div class="pt-6 w-full">
        <div class="text-xl mt-4 font-bold  w-full"><a href={post.url}>{post.title}</a></div>
        <div class="w-full">{post.description}</div>
        <div class="text-gray-400 w-full">{new Date(post.date).toLocaleDateString("en-US", dateOptions)}</div>
    </div>
)}
</Layout>