---
import BaseLayout from 'layout:BaseLayout'
---

<BaseLayout>
<div class="aspect-square w-16 inline-block bg-[#292568]"></div>
<div class="aspect-square w-16 inline-block bg-[#0A2744]"></div>
<div class="aspect-square w-16 inline-block bg-[#1D4061]"></div>
<div class="aspect-square w-16 inline-block bg-[#5A7997]"></div>
<div class="aspect-square w-16 inline-block bg-[#89A1B8]"></div>
<div class="aspect-square w-16 inline-block bg-[#eeeeee]"></div>
<div class="aspect-square w-16 inline-block bg-[#dddddd]"></div>
<div class="aspect-square w-16 inline-block bg-[#777777]"></div>
<div></div>

<div class="aspect-square w-16 inline-block bg-dr-purp-drk"></div>
<div class="aspect-square w-16 inline-block bg-dr-blue-1"></div>
<div class="aspect-square w-16 inline-block bg-dr-blue-2"></div>
<div class="aspect-square w-16 inline-block bg-dr-blue-3"></div>
<div class="aspect-square w-16 inline-block bg-dr-blue-4"></div>
<div class="aspect-square w-16 inline-block bg-dr-gray-9"></div>
<div class="aspect-square w-16 inline-block bg-dr-gray-8"></div>
<div class="aspect-square w-16 inline-block bg-dr-gray-5"></div>
</BaseLayout>
