---
import Layout from 'layout:PageLayout'
import { P, Section, Link, ListItem, List, H1, H2, PageTitle } from '@elements';
import BlueSection from '../components/BlueSection.astro';
---



<Layout title="Contact">
<PageTitle>Contact me</PageTitle>

<P>Contact me daniel at danramteke dot com</P>




</Layout>