---
import Layout from 'layout:PageLayout'
import { P, Section, Link, ListItem, List, H1, H2, PageTitle } from '@elements';
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import social from '@data/social.json'

---



<Layout title="Contact">
<PageTitle>Contact me</PageTitle>

<P>Contact me daniel at danramteke dot com</P>



      <ul class="list-group ">


  {social.map((obj, i) => <div>
         <a href={obj.url} class="hover:underline">{obj.site}: {obj.user}</a>
    </div>)}
 </ul>

</Layout>