---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import Layout from 'layout:PageLayout'
import BlueSection from '../components/BlueSection.astro';
---

<Layout title="Custom DevOps">

<P>Wrangling iOS build scripts and optimizing server infrastructure scripts: I enjoy both of these. If it can be automated with a script, it probably should. Scripting as much as possible increases confidence in important processes such as publishing to the App Store or disaster recovery.
 Unfortunately, not everyone has the time or familiarity to develop bullet-proof scripts. Contracting a DevOps consultant such as myself can propel your project forward.</P>


 <BlueSection title="Server infrastructure toolbox" style="regular">
        <div slot="left">
            <H2>Docker</H2>
            <P>

            Docker is a format for packing apps into standardized containers. Standardized and lightweight containers enables new workflows for codesharing, quality testing, and dev enviroments. Docker shines in production enviroments when combined with an orchestration layer such as Kubernetes.
            </P>

            <P><Link href="https://www.docker.com">Visit website</Link></P>
        </div>

        <div slot="middle">
            <H2>Terraform</H2>

            <P>
                Terraform is a declarative tool for managing infrastructure. And it's a gamechanger. It has eclipsed Ansible in my workflows. It also enables reuse with its modules feature.

                I even have a <Link href="https://github.com/digitalocean/terraform-provider-digitalocean/pull/290">merged pull request</Link> to DigitalOcean's Terraform Provider.
            </P>

               <P><Link href="https://www.terraform.io">Visit website</Link></P>
        </div>

        <div slot="right">
            <H2>Kubernetes</H2>

            <P>
               After declaring infra with Terraform and packing apps with Docker, Kubernetes is the declarative glue between the two.
               I've been running Kubernetes in production for <Link href="https://www.underway.nyc">Underway</Link> since 2018. My preferred ingress controller is <Link href="https://projectcontour.io">Contour</Link>.
               </P>
            <P><Link href="https://kubernetes.io">Visit website</Link></P>

        </div>
    </BlueSection>


</Layout>
