---

import Layout from '../layouts/BaseLayout.astro'
import Projects from '../sections/index/Projects.astro'
import Hero from '../sections/index/Hero.astro'
---
<Layout>

  <Hero/>

  <div class="px-8">
    <Projects/>
  </div>

</Layout>
