---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';

---
<footer class=" mt-8 pt-2 border-solid bg-sky-900  border-t px-8 text-slate-300 ">
    <p class="py-8"><a href="/" class="hover:underline">&copy;2026 Daniel Ramteke</a> </p>
</footer>

