---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import Card from 'component:Card';
const { style } = Astro.props;

const gridClasses = "sm:grid sm:gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
---

<H1>Resume</H1>

<div class={gridClasses}>

  <Card title="Resume" href="/resume">
    <P>I'm currently looking for work as an iOS Developer. Read me resume for how I can fit into your team!</P>

  </Card>
</div>

<H1>Current projects</H1>
<div class={gridClasses}>

<Card title="Underway NYC" href="https://Underway.nyc">
  <P>For New Yorkers, Underway is the best app to quickly see real-time info. All the tools you need to make decisions while on the go or underground. Available on iOS & Android. </P>
  <P>Learn more at <span class="underline">underway.nyc</span></P>
</Card>

<Card title="Full Queue Developer" href="https://fullqueuedeveloper.com">
  <P>I share my love for creativity & programming on my YouTube channel & Twitch stream.</P>
  <P>Learn more at <span class="underline">FullQueueDeveloper.com</span></P>
</Card>

</div>
