---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import Card from 'component:Card';
const { style } = Astro.props;

const gridClasses = "sm:grid sm:gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
---

<H1>Current projects</H1>
<div class={gridClasses}>

<Card title="Job search" href="/resume">
  <P>I'm currently looking for work as an Developer Relations Engineer.</P>
  <P>Read my <span class="underline">resume</span> for how I can fit into your team!</P>

</Card>

<Card title="Full Queue Developer" href="https://fullqueuedeveloper.com">
  <P>I share my love for creativity & programming on my YouTube channel & Twitch stream.</P>
  <P>Learn more at <span class="underline">FullQueueDeveloper.com</span></P>
</Card>


<Card title="Underway" href="https://Underway.nyc">
  <P>Underway is the best app for New Yorkers to quickly see real-time subway info. Available on iOS & Android. </P>
  <P>Learn more at <span class="underline">underway.nyc</span></P>
</Card>


</div>

<!--
  {
  "name": "Full Queue Developer",
  "url": "https://fullqueuedeveloper.com",
  "capacity": "Live stream on Twitch",
  "timeframe": "April 2022 - Present",
  "items": [
    "Featured in [iOS Dev Weekly](https://iosdevweekly.com/issues/563#RR1Nrdp)!",
    "Built [Haptics Studio](https://apps.apple.com/app/id1624792731) using SwiftUI, which helps you discover the perfect customized haptics for your app",
    "Answer viewers' programming questions"
  ]
}, -->