---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import Card from 'component:Card';
const { style } = Astro.props;
---
<H1>Current projects</H1>
<Card title="Underway NYC">
  <P>For New Yorkers, Underway is the best app to quickly see real-time info. All the tools you need to make decisions while on the go or underground. Available on <Link href="https://apps.apple.com/app/id1118548566">iOS</Link> and <Link href="https://play.google.com/store/apps/details?id=nyc.underway.underway">Android</Link>. </P>
  <P>Learn more at <Link href="https://www.underway.nyc/" isBold="true">underway.nyc</Link></P>
</Card>

<Card title="Full Queue Developer">
  <P>I share my love for creativity & programming on my <Link href="https://www.twitch.tv/fullqueuedeveloper">Twitch stream</Link> and <Link href="https://www.youtube.com/channel/UCqJ4mrrpAXbzA-KaZ8f_aMg">YouTube channel</Link>.</P>
  <P>Learn more at <Link href="https://FullQueueDeveloper.com" isBold="true">FullQueueDeveloper.com</Link></P>
</Card>


<Card title="Sincere Labs NYC Inc">
  <P>Custom app & website design & development for clients & customers.</P>
  <P>Learn more at <Link href="https://SincereLabs.nyc" isBold="true">SincereLabs.nyc</Link></P>
</Card>


<Card title="Swish & Sh">
<P>For developers, <Link href="https://github.com/FullQueueDeveloper/swish">Swish</Link> enables writing scripts in Swift. It bridges the gap between shell scripting and Swift.
</P>

<P>Learn more at <Link href="https://github.com/FullQueueDeveloper/swish" isBold="true">FullQueueDeveloper/Swish</Link></P>
</Card>

<H1>Older projects</H1>

<Card title="Daniel Forgetful">
<P>Instrumental music. Listen in at <Link href="https://soundcloud.com/DanielForgetful" isBold="true">soundcloud.com/DanielForgetful</Link></P>
</Card>

<Card title="Daniel Delicious">
<P>Recipe log at <Link href="https://daniel-delicious.gitlab.io" isBold="true">daniel-delicious.gitlab.io</Link></P>
</Card>