---
import BlueSection from 'component:BlueSection';
const { style } = Astro.props;
---

<BlueSection title="Side projects" style={style}>


<div slot="left">
<h4>Underway</h4>
<p>For New Yorkers, <a href="https://www.underway.nyc">Underway</a> is the best app to quickly see real-time info. Available on <a href="https://apps.apple.com/app/id1118548566">iOS</a> and <a href="https://play.google.com/store/apps/details?id=nyc.underway.underway">Android</a>. </p>

<p><a href="https://www.underway.nyc/">Learn more</a></p>
</div>


<div slot="right">
<h4>Swish</h4>
<p>For developers, <a href="https://github.com/danramteke/swish">Swish</a> enables writing scripts in Swift. It bridges the gap between shell scripting and Swift.
</p>

<p><a href="https://github.com/danramteke/swish">Learn more</a></p>
</div>



<div slot="middle">
<h4>Live coding</h4>
<p>
Checkout my <a href="https://www.twitch.tv/fullqueuedeveloper">Twitch stream</a> and <a href="https://www.youtube.com/channel/UCqJ4mrrpAXbzA-KaZ8f_aMg">YouTube channel</a> where I share my love for creativity & programming!
</p>

<p><a href="https://fullqueuedeveloper.com">FullQueueDeveloper.com</a></p>
</div>
</BlueSection>