---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import BlueSection from 'component:BlueSection';
const { style } = Astro.props;
---

    <BlueSection title="Testimonials" style={style}>
    <div slot="left">
          <H2>Dan Cogan-Drew, CPO at <Link href="https://newsela.com/company/">Newsela</Link></H2>

                    <P>"Daniel got along very well with our team and did meaningful work towards helping us to complete
                        our app."
                    </P>

    </div>
    <div slot="middle">
                    <H2>Shane Donaway, at <Link href="https://getgrowflow.com/">GrowFlow</Link></H2>

                    <P>"5 stars, would contract again..."</P>
                    <P>"I needed something<br /> you gave it to me<br /> for a good price<br /> and didn’t dick me
                        around<br /> I am happy<br /> successful project"</P>
    </div>
    <div slot="right">
                        <H2>Cliff Hazelton, CTO at <Link href="https://stash.com">Stash</Link></H2>
                    <P>"Dan is a dependable employee and a hard worker. During his time at Stash, he has delivered
                        quality code as a member of the iOS team. He has worked seamlessly on a number of high-value
                        epics and features while delivering in a timely
                        fashion. He was involved in a number of projects, including a complete re-write of our iOS
                        mobile app using the VIPER pattern. More recently, Dan has worked as an iOS engineer on our
                        Growth team. He works closely with the Stash
                        Marketing department and his experience as a senior engineer has allowed the team to move
                        quickly while producing quality software with high test coverage."</P>
    </div>
    </BlueSection>