---
import BlueSection from 'component:BlueSection';
const { style } = Astro.props;
---

<BlueSection title="Hire me for your complete app"  style={style}>
<div slot="left">
<h4>Build your complete app</h4>
<p>I can build your project from concept to launch. I can build it natively for iOS, web, and Android, along with the right server tooling. I can help you think through your idea and the best way to validate it. I can help you optimize for you time and money. If a server or web component is needed, I can build those, too. </p>
</div>
<div slot="middle">
<h4>Augment your team</h4>
<p>
I'm an expert with Agile processes, code reviews, prioritizing, and pair programming.
 I love working with visual designers to make the best look and feel for the app. 
 While of course I have my own opinions, I set those aside to match your team's preferences. 

</p>
</div>
<div slot="right">
<h4>Complete your project</h4>
<p>
Have a project that never published? Need a small change to an open-source library? Need an edit to your website? Need 
an architecture change for your app? Have an unreliable build script? Let's talk about how I can help.
</p>
</div>
</BlueSection>