---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import BlueSection from 'component:BlueSection';
const { style } = Astro.props;
---


<BlueSection title="From idea to launch" style={style}>

<div slot="left">
  <H2>First time?</H2>
  <P>I explain technical concepts so that you're making the best decisions for your project. I thoroughly listen to your goals for the project.</P>
</div>

<div slot="middle">
      <H2>I'm experienced</H2>

      <P>I've brought to life so many ideas. Let me now lend you my expertise to make your dream a reality. See my full <Link href="/resume">resume</Link>.</P>

</div>
<div slot="right">
      <H2>I'm capable</H2>


      <P>I've developed all the skills necessary to build a contemporary app experience for iOS, Android, and web.</P>
</div>

</BlueSection>