---
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';
import BlueSection from 'component:BlueSection';
const { style } = Astro.props;
---


<BlueSection title="From idea to launch" style={style}>
<div slot="left">
      <H2>From idea to launch</H2>

                <P>I've had so many ideas over the years that I have brought to life. Let me now lend you my expertise to make your dream a reality
                </P>

</div>
<div slot="middle">
                <H2>Guidance along the way</H2>


                <P>I can advise based on everything</P>
</div>
<div slot="right">
                    <H2>Cliff Hazelton, CTO at <Link href="https://stash.com">Stash</Link></H2>
                <P>arst</P>
</div>
</BlueSection>