---
export interface Props {
  title: string;
  style?: keyof typeof BlueSectionStyle;
}

const BlueSectionStyle = {
    regular: "regular", light: "light"
} as const;

const { title, style } = Astro.props;


const bgForStyle = function (style?: keyof typeof BlueSectionStyle): string {
  switch ( style ){
    case BlueSectionStyle.light as keyof typeof BlueSectionStyle:
        return  "bg-dr-gray-8";
    default:
        return "bg-dr-blue-4";
  }
 };

 const bgClass: string =  bgForStyle(style);
 const divClasses: string = bgClass.concat(
  " grid grid-cols-1 sm:grid-cols-3 sm:gap-8",
  " border-t border-solid border-violet-600",
  " py-4 my-4 "
 );

---

<div class="container  mt-8 ">
  <h2 class="text-3xl font-bold mt-2">{title}</h2>
  <div class={divClasses}>

    <div class="">
      <slot name="left"/>
    </div>

    <div class="">
      <slot name="middle"/>
    </div>

    <div class="">
      <slot name="right"/>
    </div>

  </div>
</div>
