---
const { title, style } = Astro.props;


---
<div class="  mb-4 bg-sky-50 px-2 -mx-2 rounded-md">
  <div class="col-span-2">
    <h2 class="text-xl font-bold mt-2">{title}</h2>
    <slot/>
  </div>

</div>
