<div class="container mb-8">

    <div class="pb-4 border-solid border-dr-blue-1 border-b">
    <a href="/" class="no-underline">
        <h1 class="text-dr-blue-1 text-4xl font-medium inline mr-2">Dan Ramteke</h1> 
        <h2 class="text-dr-gray-5 text-2xl inline ">
        Complete app expertise: iOS, 
        DevOps, & web 
        </h2>
        </a>
    </div>
</div>