---
import Layout from 'layout:PageLayout'

const { content } = Astro.props;
---
<Layout title={content.title}>

<div class="prose mt-8
prose-a:text-red-600 prose-a:no-underline
hover:prose-a:text-red-400 hover:prose-a:underline hover:prose-a:decoration-2

prose-h1:font-sans
prose-h2:font-sans
prose-h3:font-sans
prose-h4:font-sans
prose-h5:font-sans
prose-h6:font-sans
prose-strong:font-sans">
 <slot />
</div>

</Layout>

