---
import BaseLayout from 'layout:BaseLayout'
import Footer from 'component:Footer'

const { title } = Astro.props;
---
<BaseLayout>



    <div class="text-3xl font-bold py-4 px-4">{title}</div>

    <div class="px-4">
        <slot/>
    </div>

    <Footer/>

</BaseLayout>
